
#counter{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btndiv{
    text-align: center;
}

.bt{
    padding: 10px;
    font-size: small;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: bakground-color 0.25s ;
}

.bt:hover{
    background-color: rgb(7, 243, 243);
}

